# Virtual environments
.venv/
env/
venv/

# Python
__pycache__/
*.pyc

# Node / React
node_modules/
dist/

# MacOS
.DS_Store

# FastAPI data
data/*.sqlite3

# Audio buffers
buffer.raw
buffer.wav

# Logs
*.log

# Whisper models (local)
whisper.cpp/models/*.bin

# Docker artifacts
docker/volumes/
